@import url('https://fonts.googleapis.com/css2?family=Abel&family=Antic+Didone&family=Quicksand:wght@300..700&display=swap');

:root {
    --color-primary: #f2f5ea;
    --background-primary: #071013;
    /* --background-primary: #f2f5ea; */
    --button-back: #7FCFE9;
    --button-back-hover: #5fb9d6;
    --button-text: #111919;
    --color-secondary: #f7f9f2;
    /* --color-secondary: #1B1E1E; */
    --background-secondary: #1b1e1e;
    
}

html {
    scroll-behavior: smooth;
}

body {
    height: 100dvh;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: var(--color-primary);
    font-family: "Antic Didone", serif;
    font-weight: 100;
    font-style: normal;
}

.all-container {
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    width: 100%;;
}

.container_home {
    background-color: var(--background-primary);
    color: var(--color-primary);
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
}

.header_home {
    display: flex;
    justify-content: end;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 10dvh;
    background-color: var(--color-primary);
    background-color: #07101377;
}

.list-link_header {
    margin-right: 10rem;
    display: flex;
    gap: 2rem;
    list-style-type: none;
}

.link_header {
    color: var(--color-primary);
    text-decoration: none;
    padding: .7rem 1rem;
    border-radius: .5rem;
}

.link_header:hover {
    outline: 1px solid var(--color-secondary);
    transition-duration: 1s;
}

.caixa_home {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100dvh;
}

.caixa-nome_home {
    margin: auto 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title_home {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.p_home {
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

.list-link_home {
    display: flex;
    gap: 2rem;
    padding: 0;
    margin: 0;
}

.li_home {
    list-style-type: none;
}

.link_home {
    color: var(--button-text);
    text-decoration: none;
    padding: .7rem 1rem;
    background-color: var(--button-back);
    border-radius: .5rem;
}
.link_home:hover {
    background-color: var(--button-back-hover);
    transition-duration: .5s;
}

.caixa-img_home {
    height: 100vh;
    width: 40dvh;
    margin-top: 11rem;
    align-self: flex-start;
}

.img-pessoa_home {
    width: 100%;
    height: 75dvh;
    
}

.container_sobre {
    background-color: var(--background-secondary);
    color: var(--color-secondary); 
    text-align: center;
    min-height: 80dvh;
}

.title_sobre {
    font-size: 2rem;
    font-weight: bold;
    margin-top: 8rem;
}

.p_sobre {
    font-size: 1.2rem;
    margin: 6rem auto;
    width: 50%;
}

.container_habilidades {
    background-color: var(--background-primary);
    color: var(--color-primary);
}

.title_habilidades {
    text-align: center;
    margin: 8rem 0 8rem;
}

.caixa_habilidades {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.p_habilidades {
    width: 40%;
}

.caixa-skill {
    display: flex;
    align-items: end;
    gap: 1rem;
}

.skill_box {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    text-align: center;
}

.skill_box1 {
    height: 15rem;
}

.skill_box2 {
    height: 13rem;
}

.skill_box3 {
    height: 5rem;
}

.skill_bar {
    height: 100%;
    width: 5rem;
    background-color: var(--button-back);
    border-radius: 5px;
}

.title_certificado {
    margin: 4rem;
    text-align: center;
}

.container_certificados {
    display: flex;
    flex-direction: column;
    background-color: var(--background-secondary);
    color: var(--color-secondary); 
    min-height: 130dvh;
}

.caixa_certificados {
    display: flex;
    margin: 0 auto;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width: 70vw;
    gap: 2rem;
}

.certificados {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    border-radius: .5rem;
    width: 16rem;
    background-color: var(--background-primary);
    gap: 2rem;
}

.title-certificado_certificados {
    margin: 0;
}

.img_certificados-all {
    width: 80%;
    object-fit: cover;
    border-radius: .3rem;
}


.link_certificado{
    color: var(--button-text);
    text-decoration: none;
    padding: .6rem 1rem;
    background-color: var(--button-back);
    border-radius: .6rem;
}

.link_certificado:hover {
    background-color: var(--button-back-hover);
    transition-duration: .5s;

}

.container_contato {
    background-color: var(--background-primary);
    color: var(--color-primary);
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title_contato {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.caixa_contato {
    background-color: var(--color-secondary);
    color: var(--button-text);
    padding: 2rem;
    border-radius: .5rem;
    display: flex;
    flex-direction: column;
}

.title-redes_contato {
    text-align: center;
}

.caixa-redes_contato {
    display: flex;
    gap: 1rem;
    justify-content: space-evenly;
}

.link-redes_contato {
    text-decoration: none;
    padding: 1rem;
}

.redes-icons_contato {
    width: 3rem;
}

.redes-icons_contato:hover {
    scale: 1.1;
    transition-duration: .5s;
    transition-delay: .1s;
}

@media (max-width: 756px) {
    .header_home {
        justify-content: space-evenly;
    }
    .list-link_header {
        margin: 0;
        gap: 1rem;
        padding: 0;
    }
        .link_certificado {
            width: 100%;
        }

        .caixa-img_home {
            width: 0;
        }

    .caixa-nome_home {
        width: 80%;
    }
    .container_sobre {
        flex-direction: column;
    }

    .title_sobre {
        margin: 4rem;
    }

    .p_sobre {
        margin: 4rem auto;
        width: 80%;
        text-align: center;
    }

    .title_habilidades {
        margin: 4rem 0;
    }

    .caixa_habilidades {
        flex-direction: column;
    }

    .p_habilidades {
        width: 80%;
    }

    .container_certificados {
        padding-bottom: 3rem;
    }

    .link_certificado {
        width: fit-content;
    }
}